[submodule "lib/solbase"]
	path = lib/solbase
	url = https://github.com/Sol-DAO/solbase
[submodule "lib/prb-math"]
  branch = release-v4
  path = lib/prb-math
  url = https://github.com/PaulRBerg/prb-math
